@page "/Reservations"
<center><h3>Reservation Finder</h3></center>
<style>
    .titles {
        display: flex;
        justify-content: space-between;
        margin-inline: 8%;
    }

    li {
        width: 26%;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .flex {
        height: 30px;
        width: 24%;
    }

    .titles {
        list-style: none;
    }

    textarea {
        height: 30px;
        width: 98%;
        overflow: clip;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    button {
        border: none;
        background-color: navy;
        border-radius: 5px;
        color: white;
        height: 30px;
        width: 20%;
    }

        button:hover {
            background-color: #002299;
        }

        button:active {
            background-color: aqua;
            box-shadow: aqua 2px;
        }

    .res {
        width: 97%;
        margin-inline: auto;
    }

    .Reserve {
        margin-top: 30px;
    }

    #resCode {
        margin-top: 10px;
        margin-left: 40%;
    }

</style>
<div>
    <ul class="titles">
        <li>From:</li>
        <li>To:</li>
        <li>Day:</li>
        <li> </li>
    </ul>
</div>
<div class="container">
    <select class="flex" name="originAirport" id="originAirport">
        <option value="Any">Any</option>
        <option value="JFK">JFK</option>
        <option value="LAX">LAX</option>
        <option value="ORD">ORD</option>
    </select>
    <select class="flex" name="destinationAirport" id="destinationAirport">
        <option value="Any">Any</option>
        <option value="JFK">JFK</option>
        <option value="LAX">LAX</option>
        <option value="ORD">ORD</option>
    </select>
    <select class="flex" name="day" id="day">
        <option value="Any">Any</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>
    <button type="submit" id="findFlightbutton" class="flex" color="blue">Find Flight</button>
</div>
<!-- findFlightbutton is above-->
<center><h3>Reservations</h3></center>
<div class="container">
    <textArea placeholder="Loading..."></textArea>
</div>
<center><h3>Reserve</h3></center>
<div class="res">
    <h5>Reservation code</h5>
    <textArea placeholder="Reservation code"></textArea>
    <h5>Flight code</h5>
    <textArea placeholder="Flight code"></textArea>
    <h5>Airline</h5>
    <textArea placeholder="Airline"></textArea>
    <h5>Cost</h5>
    <textArea placeholder="Cost"></textArea>
    <h5>Name</h5>
    <textArea placeholder="Name"></textArea>
    <h5>Citizenship</h5>
    <textArea placeholder="Citizenship"></textArea>
    <h5>Active</h5>
    <textArea placeholder="Active"></textArea><center>
        <button id="reserveButton" class="Reserve">Reserve</button>
    </center>

    <!--reserveButton Above-->
</div>
@code {

}